// IMPORT SCSS-Directories:

// Tailwind stuff
@tailwind base;
@tailwind components;
@tailwind utilities;

// Fontawsome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Abstracts folder
@import "abstracts/variables";
// Base folder
@import "base/base";
@import "base/typography";
// Components folder
@import "components/button";
@import "components/content";
@import "components/dice";
@import "components/form";
// Layout folder
@import "layout/footer";
@import "layout/header";
@import "layout/navigation";
